@model Todo.Site.Models.ContactForm
@{
    ViewBag.Title = "";
}

<section>
    
            <div class="contact">
               <div class="row">
                  <div class="span12">
                  
                     <!-- Contact hero -->
                     <div class="hero">
                        <!-- Title. Don't forget the <span> tag -->
                        <h3><span>Contact</span></h3>
                        <!-- para -->
                        <p>Nous sommes actuellement étudiants de l'ESGI et habitons à proximité de Paris.</p>
                     </div>
                     <!-- Contact -->
                     
                     <div class="contact">
                        <div class="row">
                           <div class="span12">
                              <!-- Google maps -->
                              <div class="gmap">
                                 <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=Paris+ESGI&amp;aq=&amp;sll=48.680793,2.502588&amp;sspn=2.11446,5.07019&amp;ie=UTF8&amp;hq=ESGI&amp;hnear=Paris,+%C3%8Ele-de-France&amp;ll=48.87829,2.383735&amp;spn=0.065812,0.158443&amp;t=m&amp;z=13&amp;iwloc=A&amp;cid=11466725384653135812&amp;output=embed"></iframe><br /><small><a href="https://maps.google.fr/maps?f=q&amp;source=embed&amp;hl=fr&amp;geocode=&amp;q=Paris+ESGI&amp;aq=&amp;sll=48.680793,2.502588&amp;sspn=2.11446,5.07019&amp;ie=UTF8&amp;hq=ESGI&amp;hnear=Paris,+%C3%8Ele-de-France&amp;ll=48.87829,2.383735&amp;spn=0.065812,0.158443&amp;t=m&amp;z=13&amp;iwloc=A&amp;cid=11466725384653135812" style="color:#0000FF;text-align:left">Agrandir le plan</a></small>
                              </div>
                              
                           </div>
                        </div>
                        <div class="row">
                           <div class="span6">
                              <div class="cwell">
                                 <!-- Contact form -->
                                    <h5>Formulaire de Contact</h5>
                                    <hr />
                                    <div class="form">
                                      @using (Html.BeginForm("Contact", "Contact", FormMethod.Post, new { @class = "form-horizontal" }))
                                       {
                                            @Html.ValidationSummary(true)
                                          <!-- Name -->
                                          <div class="control-group">
                                            <label class="control-label" for="name">Nom</label>
                                            <div class="controls">
                                              @Html.EditorFor(model => model.name, new { @class = "input-medium", id = "name" })
                                              <!--<input type="text" class="input-medium" id="name">-->
                                            </div>
                                          </div>
                                          <!-- Email -->
                                          <div class="control-group">
                                            <label class="control-label" for="email">Email</label>
                                            <div class="controls">
                                               @Html.EditorFor(model => model.email, new { @class = "input-medium", id = "email" })
                                              <!--<input type="text" class="input-medium" id="email">-->
                                            </div>
                                          </div>
                                          <!-- Website -->
                                          <div class="control-group">
                                            <label class="control-label" for="website">Site Web</label>
                                            <div class="controls">
                                               @Html.EditorFor(model => model.website, new { @class = "input-medium", id = "website" })
                                              <!--<input type="text" class="input-medium" id="website">-->
                                            </div>
                                          </div>
                                          <!-- Comment -->
                                          <div class="control-group">
                                            <label class="control-label" for="comment">Commentaire</label>
                                            <div class="controls">
                                                 @Html.TextAreaFor(model => model.comment, new { @class = "input-medium", id = "comment", row = 3 })
                                              <!--<textarea class="input-madium" id="comment" rows="3"></textarea>-->
                                            </div>
                                          </div>
                                          <!-- Buttons -->
                                          <div class="form-actions">
                                             <!-- Buttons -->
                                            <button type="submit" class="btn">Envoyer</button>
                                            <button type="reset" class="btn">Effacer</button>
                                          </div>
                                          if(@ViewBag.Alert != null) {
                                                 <div class="alert alert-error">
                                                    @ViewBag.Alert
                                                 </div>
                                          }
                                          if(@ViewBag.Success != null) {
                                                 <div class="alert alert-success">
                                                    @ViewBag.Success
                                                 </div>
                                          }
                                       }
                                    </div>
                                 </div>
                           </div>
                           <div class="span6">
                                 <div class="cwell">
                                    <!-- Address section -->
                                       <h5>Addresse</h5>
                                       <hr />
                                       <div class="address">
                                           <address>
                                             
                                              <strong>Sucré Salé</strong><br>
                                              <!-- Address -->
                                              Buttes Chaumont<br>
                                              Paris, 75019<br>
                                              <!-- Phone number -->
                                              <abbr title="Téléphone">P:</abbr> (+33) 1-45-67-89-01.
                                           </address>
                                            
                                           <address>
                                              <!-- Name -->
                                              <strong>Sucré Salé: le site pour les filles !</strong><br>
                                              <!-- Email -->
                                              <a href="mailto:direction@sucre-sale.fr">direction@sucre-sale.fr</a>
                                           </address>
                                           
                                           <!-- Social media icons -->
                                           <strong>Restez connectés:</strong>
                                           <div class="social">
                                                <a href="#"><i class="icon-facebook"></i></a>
                                                <a href="#"><i class="icon-twitter"></i></a>
                                                <a href="#"><i class="icon-google-plus"></i></a>
                                           </div>
                                       </div>
                                 </div>
                           </div>
                        </div>
                        
                     </div>
                     
                  </div>
               </div>
            </div>
            
            
            <!-- Service ends -->
</section>
