@model MyBeautyfullCMS.Models.UserProfile

@{
    ViewBag.Title = "Editer un utilisateur";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Utilisateur</legend>

        @Html.Hidden("UserId")

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.Editor("UserName")
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserLevel)
        </div>
        <div class="editor-field">
            @Html.DropDownList("Level")
            @Html.ValidationMessageFor(model => model.UserLevel)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
