<!DOCTYPE html>
<html lang="fr">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Mon application ASP.NET MVC</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="navbar-wrapper">
              <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
              <div class="container">

                <div class="navbar navbar-inverse">
                  <div class="navbar-inner">
                    <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="@Url.Action("Article","Index")">My Beautifull CMS</a>
                    <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
                    <div class="nav-collapse collapse">
                      <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div><!--/.nav-collapse -->
                  </div><!-- /.navbar-inner -->
                </div><!-- /.navbar -->

              </div> <!-- /.container -->
            </div><!-- /.navbar-wrapper -->

            <div class="content-wrapper">
                    <nav>
                        <div class="navigation-bar">
                            <div class="navigation-bar-inner">
                                <div class="brand">
                                    <span class="name">@Html.ActionLink("My Beautifull CMS", "List")</span>
                                </div>
                                
                                <div style="float: right;">@Html.Partial("_LoginPartial")</div>
                                            

                                <ul>
                                    <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
                                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                    <li>@Html.ActionLink("À propos de", "About", "Home")</li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>


        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My Beautifull CMS - développé à l'aide d'ASP.NET MVC</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/myscript")
        @RenderSection("scripts", required: false)
    </body>
</html>
