<!DOCTYPE html>
<html lang="fr">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Mon application ASP.NET MVC</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
    <section id="main-container" class="container-fluid">
        <header>
            <div class="navbar-wrapper">
              <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
              <div class="container-fluid">

                <div class="navbar navbar-inverse">
                  <div class="navbar-inner">
                    <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="@Url.Action("List","Article")">My Beautifull CMS</a>
                    <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
                    <div class="nav-collapse collapse">
                      <ul class="nav">
                        <li class="active">@Html.ActionLink("Accueil", "Index", "Article")</li>
                        <li>@Html.ActionLink("À propos de", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->
                      </ul>
                        <div style="float: right;">@Html.Partial("_LoginPartial")</div>
                    </div><!--/.nav-collapse -->
                  </div><!-- /.navbar-inner -->
                </div><!-- /.navbar -->

              </div> <!-- /.container -->
            </div><!-- /.navbar-wrapper -->
        </header>
        
                
        <section class="span10" >
        <!--Body content-->
                @RenderSection("featured", required: false)
            <section id="principal-view">
                @RenderBody()
            </section>
        </section>
        <section class="span2" id="aside-view">
        <!--Sidebar content-->
        </section>

           
        
        <footer class="span12">
            <p>&copy; @DateTime.Now.Year - My Beautifull CMS - développé à l'aide d'ASP.NET MVC</p>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/myscript")
        @RenderSection("scripts", required: false)
    </section>
    </body>
</html>
