@model IEnumerable<MyBeautyfullCMS.Models.Tag>

@{
    ViewBag.Title = "Gestion des Tags";
}

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary btn-large">Créer un tag</a>
</p>
 
<table class="table table-stripped table-bordered span10">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>Administration</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id = @item.TagId })"><i class="icon-pencil" title="Editer le Tag"></i></a>
            <a href="@Url.Action("Details", new { id = @item.TagId })"><i class="icon-eye-open" title="Voir le Tag"></i></a>
            <a href="@Url.Action("Delete" , new { id = @item.TagId })"><i class="icon-trash" title="Supprimer le Tag"></i></a>
        </td>
    </tr>
}
    </tbody>
</table>
