@model Todo.Site.Models.Article

@{
    ViewBag.Title = "Create";
}
@{
    Layout = "~/Views/Shared/_createFormLayout.cshtml";
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Création d'un nouvel Article</h3>

</div>
    @using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
        <div class="modal-body">
        <h3>Article</h3>

        <div class="editor-label">
            @Html.LabelFor(model => model.title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.title)
            @Html.ValidationMessageFor(model => model.title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.introduction)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.introduction)
            @Html.ValidationMessageFor(model => model.introduction)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.content)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.content, new { @class = "span10" })
            @Html.ValidationMessageFor(model => model.content)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.status)
            @Html.ValidationMessageFor(model => model.status)
        </div>
        </div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Retour</button>
    <!--<input type="submit" value="Create" id="btn-create-article" />-->
    <input type="submit" value="Créer l'article" class="btn btn-primary">
</div>
        
    }