@model MyBeautyfullCMS.Models.Article

@{
    ViewBag.Title = @Html.DisplayFor(model => model.title);
}


<article class="article article-detail">
    <h2>@Html.DisplayFor(model => model.title)</h2>
    <p class="badge badge-info">@ViewBag.TagName</p>
    <p class="article-intro">
      <span>Par: <b class="badge badge-success">@ViewBag.AuthorName</b></span>
        <br />
        paru le : <time datetime="@Html.DisplayFor(model => model.createdAt)">@Html.DisplayFor(model => model.createdAt)</time>
    </p>
    <div>
        @Html.DisplayFor(model => model.content)
    </div>

</article>

<p>
    @Html.ActionLink("Editer", "Edit", new { id=Model.ArticleId }) |
    @Html.ActionLink("Retour à la liste", "List")
</p>
