@model IEnumerable<Todo.Site.Models.Article>

@{
    ViewBag.Title = "Index";
}

<h2 class="common-h2">Les dernières actualités</h2>

<section id="articles">
@foreach (var item in Model) {
    <article class="row span3">
        <h3>
            <a href="@Url.Action("Article","Details", new { id=item.Id })">@Html.DisplayFor(modelItem => item.title)</a>
            
            
        </h3>
        <time datetime="@item.createdAt">
            @Html.DisplayFor(modelItem => item.createdAt)
        </time>
        <br />
        <p><strong>
            @Html.DisplayFor(modelItem => item.introduction)
        </strong></p>
            @Html.ActionLink("En savoir plus >>", "Details", new { id = item.Id}, new { @class = "article-more-info" })
    </article>
}
</section>
<div style="clear: both;"></div>
 
