@model IEnumerable<MyBeautyfullCMS.Models.Article>

@{
    ViewBag.Title = "Index";
}

<h2 class="common-h2">Les dernières actualités</h2>

<section id="articles">

@foreach (var item in Model) {
    <article class="row span3">
        <h3>
            <a href="@Url.Action("Details","Article", new { id=item.ArticleId })">@Html.DisplayFor(modelItem => item.title)</a>
            
            
        </h3>
        <time datetime="@item.createdAt">
            @Html.DisplayFor(modelItem => item.createdAt)
        </time>
        <br />
        <p><strong>
            @Html.DisplayFor(modelItem => item.introduction)
        </strong></p>
         @if (ViewContext.HttpContext.User.Identity.IsAuthenticated)
         {
            <a href="@Url.Action("Details","Article", new { id = item.ArticleId })" class="article-more-info">En savoir plus >></a>
         }
    </article>
}
</section>
<div style="clear: both;"></div>
 
